{
	"ignore": [
    "node_modules/**"
  ],
	"env": {
		"test": {
			"presets": [
				"@babel/react",
				"@babel/preset-env",
			]
		},
		"development": {
			"presets": [
				"@babel/react",
				"@babel/preset-env",
			]
		},
		"production": {
			"presets": [
				"@babel/react",
				"@babel/preset-env",
			],
			"plugins": [
				"@babel/plugin-transform-react-jsx",
				"@babel/plugin-proposal-class-properties",
				"@babel/plugin-proposal-object-rest-spread"
			]
		}
	}
}
